<div class="center">
  <h1 class="title"> Yay! You're All Set! </h1>
  <%= image_tag("https://media.giphy.com/media/3ov9k4dawRrTNyVE3K/giphy.gif", width: "300", height: "300", class: "image") %>
</div>
