<div class="jumbotron center">
  <h1> Add MultiDM to Slack! </h1>
  <a href="https://slack.com/oauth/authorize?client_id=219592720864.265033610496&scope=incoming-webhook,commands,users:read,im:read,chat:write:user,chat:write:bot"><%= image_tag("slack-button.png") %></a>
</div>
