  <div id="page-top">
    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <h1 class="text-uppercase mb-0">MultiDM</h1>
        <h3 class="center"> —————— </h3>
        <h3 class="font-weight-light mb-0">Ever wish you could send a DM to multiple people at the same time?</h3>
      </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
      <h3 class="center"> Now you can: </h3>
      <div class="container">
        <h3 class="text-center text-uppercase text-secondary mb-0">“/multidm @ross @rachel @joey how are you feeling about that company announcement?”</h3>
        <h3 class="center"> —————— </h3>
          <div class="row">
            <div class="listlist">
            <ul class="list-group">
             <li class="list-group-item no-border list-font">• Get the feature Slack forgot to build</li>
             <li class="list-group-item no-border list-font">• Eliminates the need to create a group chat</li>
             <li class="list-group-item no-border list-font">• Way faster than copy and paste into multiple DMs</li>
             <li class="list-group-item no-border list-font">• MultiDM from any channel (only the people you DM will see it)</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary text-white mb-0" id="about">
      <div class="container center">
        <h2 class="text-center text-uppercase text-white">Install</h2>
        <h3 class="center"> —————— </h3>
        <a href="https://slack.com/oauth/authorize?client_id=219592720864.265033610496&scope=commands,users:read,im:read,chat:write:user"><%= image_tag("slack-button.png") %></a>
        <h5>(Remember: MultiDM will not post to any channel)</h5>
      </div>
    </section>
    <br>

</div>
