<div class="jumbotron center">
  <h1> Add MultiDM to Slack! </h1>
  <a href="https://slack.com/oauth/authorize?client_id=219592720864.265033610496&scope=incoming-webhook,commands,users:read,im:read,chat:write:user,chat:write:bot"><%= image_tag("slack-button.png") %></a>
  <br><br><br>
  <h2> Send a DM to multiple people in one line </h2>
  <br>
  <h2><i>“/multidm @john @jane @harry when is your birthday - it's for HR”<i></h2>

  <%= image_tag("logo.png", height: '337.5', width: '337.5') %>
</div>
